@import "tailwindcss";

@theme {
  /* === BRAND COLORS === */
  --color-brand-dark: #1c1c1c; /* Headline / navbar */
  --color-brand-gold: #c8a97e; /* Accent / CTA */
  --color-brand-cream: #f6f2eb; /* Section background */
  --color-brand-sage: #9fae9c; /* Wellness accent */
  --color-brand-muted: #6b6b6b; /* Paragraph */

  /* === TYPOGRAPHY === */
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);

  /* === SPACING SCALE === */
  --space-section: 8rem;
  --space-section-mobile: 5rem;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    /* @apply font-serif text-[var(--color-brand-dark)]; */
    @apply font-serif;
  }

  p {
    @apply font-sans tracking-wider leading-relaxed;
  }

  section {
    padding-block: var(--space-section);
  }

  @media (max-width: 768px) {
    section {
      padding-block: var(--space-section-mobile);
    }
  }
}

@layer components {
  .container-global {
    @apply w-full lg:max-w-6xl mx-auto px-6 md:px-8 lg:px-6;
  }
  .container-nav {
    @apply w-full lg:max-w-[1440px] mx-auto px-6;
  }
}

/* * {
  outline: 1px solid red;
} */

/* Pagination Container */
.custom-swiper .swiper-pagination {
  bottom: 0 !important;
  position: relative;
  margin-top: 40px;
}

/* Default dot */
.custom-swiper .swiper-pagination-bullet {
  background: #2c221c;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  margin: 0 6px !important;
  transition: all 0.4s ease;
}

/* Active dot */
.custom-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #f5efe6;
  transform: scale(1.2);
}
